/*
 Theme Name:   Nada
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     twentynineteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twentyfifteenchild
*/

$red: #eb1b2b;
$black: #121212;
$white: #fff;

$aqua: #3CBE9A;
$green: #16443E;
$gold: #F09020;
$white: #fffffe;
$green-light: #234d47;

$fb: 'Futura Bold';
$fi: 'Futura Medium Italic';

@mixin offblock {
  background: $green;
  color: $white;

  blockquote {
    border-left: 2px solid $aqua;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $gold;
  }
}

@mixin offblock2 {
  background: $aqua;
  color: $white;

  blockquote {
    border-left: 2px solid $green;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $green;
  }
}

@mixin bold {
  font-family: $fb;
}

@mixin italic {
  font-family: $fi;
}

@import './styles/fonts';
@import './styles/logo';
@import './styles/nav';
@import './styles/utils';

.main-menu-more {
  display: none;
}

body {
  position: relative;
}





.home {
  font-family: $fi, sans-serif;

  h1:not(.site-title):before,
  h1:not(.logo-text):before,
  h2:before {
    background: none;
    content: "";
    display: block;
    height: 0;
    margin: 0;
    width: 0em;
  }


  .site-title {
    font-size: 15px;
    padding-left: 2em;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $fb, sans-serif;
    color: $green;
  }

  a {
    color: $gold;
  }

  .entry .entry-content,
  .entry .entry-summary {
    max-width: 100%;
    margin: 0;
    padding: 0;

    &>* {
      max-width: 100%;
      margin: 0;
    }
  }

  article.entry {
    .portrait-with-cat {

      background-image: url('images/nada-and-cat.png');
      background-size: 100%;
      padding-bottom: 100%;
      width: 100%;

    }

    section {
      padding: 1em;
      padding-top: 98px;
      padding-bottom: 98px;

      &#splash {

        // background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        //   transparent url(images/ferndale.jpg) 0% 0%/auto no-repeat scroll;
        display: flex;
        align-items: center;
        justify-content: center;


        background: {
          image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('images/ferndale.jpg');
          position: center;
          size: cover;
        }

        color: $white;
        height: calc(100vh - 100px);
        padding: 0;
        position: relative;
      }



    }
  }
}

#about {}

#policy {
  @include offblock;
}

#contact {
  @include offblock2;
}

#volunteer {}

#join {
  @include offblock;
}

#fur {
  @include offblock2;
}

.site-header {
  padding: 0;
}

.for-all-bar {
  height: 65px;
  background-color: $white;
  line-height: 65px;
  font-weight: bold;
  color: $black;

  .tint {
    color: $green;
  }
}