$fontPath : "../twentynineteen-child/fonts/";

$futuraMediumItalic:"Futura-Medium-Italic";
$futuraBold: "Futura-Bold";


@font-face {
  font-family: 'Futura Medium Italic';
  src: url('#{$fontPath}#{$futuraMediumItalic}.eot');
  src: url('#{$fontPath}#{$futuraMediumItalic}.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}#{$futuraMediumItalic}.woff') format('woff'),
  url('#{$fontPath}#{$futuraMediumItalic}.ttf') format('truetype'),
  url('#{$fontPath}#{$futuraMediumItalic}.svg##{$futuraMediumItalic}') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Bold';
  src: url('#{$fontPath}#{$futuraBold}.eot');
  src: url('#{$fontPath}#{$futuraBold}.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}#{$futuraBold}.woff') format('woff'),
  url('#{$fontPath}#{$futuraBold}.ttf') format('truetype'),
  url('#{$fontPath}#{$futuraBold}.svg##{$futuraBold}') format('svg');
  font-weight: normal;
  font-style: normal;
}