.logo-text {
  @include bold;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  transform: rotate(-10deg);
  padding-left: 0 !important;
  position: relative;
  display: block;


  span {
    display: block;
    line-height: 1em;
    font-size: 80px;

  }



  .blocky {
    background: $gold;
    background-color: $gold;
    color: $white;
    font-size: 30px;
    padding: 0 30px;
    line-height: 50px;
    text-shadow: none;
    display: inline-block;
    margin-top: -5px;
  }
}

.portrait-with-cat+.logo-text {
  top: -65px;
  right: -11px;

  span {
    text-shadow: 2px 2px 3px #111;


    &.blocky {
      text-shadow: none;
      box-shadow: 2px 2px 3px #111;
    }
  }
}