.title-bar {
  height: 60px;
  background-color: $green;

  h1 {
    padding-left: 1em;
    font-weight: bold;
    color: $white;
    line-height: 60px;

    .tint {
      color: $black;
    }

  }

  a {

    &:hover,
    &:active,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }

  &.nav-mobile {
    h1 {
      color: $white;
    }

    .swish-left {
      position: relative;

      &::before {
        background-image: url('./images/main-swish.png');
        background-size: 25px;
        height: 46px;
        width: 25px;
        content: '';
        position: absolute;
        left: 0px;
        top: -12px;

      }
    }
  }

  &.desktop-menu {
    height: 96px;

    h1 {
      color: $white;
    }

    a {
      color: $white;
      font-size: 13px;
      text-transform: uppercase;
      font-family: $fb;

      &.active {
        color: gold;
      }
    }


    .get-in-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 96px;
    }

    .logo-text {
      @include bold;
      color: $white;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .1em;
      transform: rotate(-10deg);
      padding-left: 0 !important;
      position: relative;
      left: 50px;
      bottom: -3px;

      span {
        display: block;
        line-height: 1em;
        font-size: 40px;
      }

      .blocky {
        background: $gold;
        background-color: $gold;
        color: $white;
        font-size: 15px;
        padding: 0 10px;
        line-height: 23px;
      }
    }
  }
}

.dropdown {
  float: right;

  .dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
  }

  .hamburger {
    height: 60px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    right: -15px;

    span {
      height: 3px;
      background: #fff;
      margin-top: 3px;
      width: 26px;
      display: block;
    }
  }
}

ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  a {
    color: $green;
  }
}

.dropdown .dropdown-menu {
  border: 1px solid $aqua;
}

.btn:hover {
  background-color: $gold;
}

.btn:focus {
  box-shadow: none;
}