.cap {
  text-transform: uppercase;
}

.bg-aqua {
  background-color: $aqua;
}

.text-aqua {
  color: $aqua;
}

.bg-green {
  background-color: $green;
}

.text-green {
  color: $green;
}

.bg-gold {
  background-color: $gold;
}

.text-gold {
  color: $gold;
}

.bg-white {
  background-color: $white;
}

.text-white {
  color: $white;
}

.fb {
  font-family: $fb, sans-serif;
  letter-spacing: .1em;
}

.fi {
  font-family: $fi, sans-serif;
}

*,
*::before,
*::after {
  background-repeat: no-repeat;
}